# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
*.log
*.pot
*.pyc
db.sqlite3
media
static